@import './base.scss';

#app {
    max-width: 1280px;
    margin: 0 auto 0 2rem;
    padding: 2rem;
    font-weight: normal;
}

form {
    display: flex;
    flex-direction: column;
    gap: 6px;

    .form-row {
        display: flex;
        flex-direction: column;

        textarea {
            height: 100px;
        }
    }
}

a,
button {
    text-decoration: none;
    transition: 0.4s;
    padding: 3px;
}

a {
    color: $base-color;
}

button {
    padding: 0.3em 0.6em;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-radius: .1rem;

    &.danger {
        background-color: $danger-background-color;
        color: $danger-color;
        border-color: $danger-background-color;
    }

    &.primary {
        background-color: $primary-background-color;
        color: $primary-color;
        border-color: $primary-background-color;
    }

    &.success {
        background-color: $success-background-color;
        color: $success-color;
        border-color: $success-background-color;
    }

    min-width: 6rem;
}

@media (hover: hover) {
    button {
        &:hover {
            background-color: white;
            border: 1px solid;
        }
        &.danger {
            &:hover {
                color: $danger-hover-color;
                border-color: $danger-hover-color;
            }
        }

        &.primary {
            &:hover {
                color: $primary-hover-color;
                border-color: $primary-hover-color;
            }
        }

        &.success {
            &:hover {
                color: $success-hover-color;
                border-color: $success-hover-color;
            }
        }
    }
}

@media (min-width: 1024px) {
    #app {
        display: grid;
        grid-template-columns: 1fr 4fr;
        padding: 2rem 2rem 0;
    }
}
